AutomateBoringStuff/.idea
AutomateBoringStuff/__pycache__
AutomateBoringStuff/build
AutomateBoringStuff/data/chrome_driver/*
AutomateBoringStuff/data/football_news/*
AutomateBoringStuff/dist
Circle_Cross_For_Fun/.idea
Circle_Cross_For_Fun/__pycache__
FreeCodeCampBackend/.idea
FreeCodeCampBackend/Scripts/*
FreeCodeCampBackend/FirstProject/myproject/Moderna
FreeCodeCampBackend/FirstProject/DjangoRestProject/DjangoRestProject/__pycache__/
FreeCodeCampBackend/FirstProject/myproject/myweather/__pycache__/
FreeCodeCampBackend/FirstProject/myproject/static/assets/
FreeCodeCampBackend/FirstProject/myproject/myapp/__pycache__/
FreeCodeCampBackend/FirstProject/myproject/myapp/migrations/__pycache__/
FreeCodeCampBackend/FirstProject/myproject/myblog/__pycache__/
FreeCodeCampBackend/FirstProject/myproject/myblog/migrations/__pycache__/
FreeCodeCampBackend/FirstProject/myproject/mychat/migrations/__pycache__/
FreeCodeCampBackend/FirstProject/myproject/mychat/__pycache__/
FreeCodeCampBackend/FirstProject/myproject/myweather/migrations/__pycache__/
FreeCodeCampBackend/FirstProject/DjangoRestProject/rest_app/migrations/__pycache__/
FreeCodeCampBackend/FirstProject/myproject/myproject/__pycache__/
FreeCodeCampBackend/FirstProject/DjangoRestProject/rest_app/__pycache__/
FreeCodeCampOop/.idea
FreeCodeCampOop/__pycache__
Snake_For_Fun/.idea
Snake_For_Fun/__pycache__
